
    

*{
     background-color: rgba(245, 248, 255, 1);
     
}
.container{
    width: 1000px;
    margin: auto;
}
.head-font{
    font-family: Noto Serif;

}
.body-font{
    font-family: Inter;
}

.ligo{
    display: flex;
   flex-direction: row;
justify-content: space-between;
align-items: center;

}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;

}
.navbar a{
   
text-decoration: none;
gap: 15px;
padding: 16px 0;
}
.icon{
    margin-right: 10px;
}
.navbar a:nth-child(1){
    font-weight:900px ;
    color: black;
}

.navbar a:nth-child(2),
.navbar a:nth-child(3) {
    color: gray;
    opacity: 0.6;
}  
 .navbar a:nth-child(4)   {
    color: black;
    font-weight: 400px;
 }

.banner{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.banner-left{
    max-width: 50%;
}
.b-head{
    font-weight: 800;
    size: 80px;
}
.b-para{
    color: gray;
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
}

.banner-right img{
        width: 350px;
}
span{
    margin-right: 10px;
}
.m-first-head{
     display: flex;
     justify-content: center;
     align-items: center;
}
.sectiion1-para{
    text-align: center;
   padding: 0 90px;
}

/* grid related style */

.section2{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;

}
.grid img{
    width: 240px;
}


.f-details{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
line-height: 1px;
}


.grid-head{
    font-weight: 500;
    font-size: 18px;
}
.money{
    font-weight: 800;
    font-size: 18px;
}
.btn{
background-color: rgba(233, 90, 8, 1);
border: none;
padding: 10px 78px;
color: white;
}

.section3{
    display: flex;
    padding: 90px;
    gap: 15px;
    position: relative;
}
.plant-lover{
    padding: 28px;
}
.absolute img{
    width: 500px;
    height:550px ;
}

.img2{
position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(70%, -60%);

}
.img2 img{
    height: 250px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.25);
    
  
}
.for-h{
    display: flex;
    justify-content: center;
    align-items: center;
}
.for-para{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 90px;
}

.section5{
    padding-top: 30px;
    display: flex;
    justify-content: space-between
    
}
.left-img{
    font-size: 20px;
font-weight: 700;
line-height: 27px;
background: none;
color: white;
}
.back-box{
    background: none;
}
.section5 a{
    background: none;
    color: white;
    display: flex;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}
.first-img{
  background-image:url(./assets/deal-bloom.png) ;

width: 366.22px;
height: 206px;
border-radius: 20px;
}
.second-img{
    background-image: url(./assets/deal-ana.png);
    
/* image 3 */
width: 402px;
height: 268px;
border-radius: 20px;

}
.right-img{
    background-image: url(./assets/deal-zabo.png);
    /* image 6 */
width: 753px;
height: 423.13px;
border-radius: 20px;
}

/* footer related style */
  .footer-first{
    background-image: url(./assets/news-letter-bg.png);
    width: 1330px;
height: 533px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

 
  }
  .design-form{
    display: flex;
    justify-content: center;
    align-items: center;
   background: none;
  }
  .bsa{
    background: none;
    color: white;
    font-size: 60;
    font-weight: 800px;
  }
  div form{
    background: none;
    margin: 10px 30px;
    border: none;
  }
 
 .btn2{
    color: white;
    background-color: rgba(233, 90, 8, 1);
    padding: 10px 20px;
    border: none;
 }

 
 .last-design{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

 }
 .foot-para{
    width: 300px;
    height: 75px;
 }
 .icon {
    gap: 10px;
 }
 div ul li{
    list-style: none;
    margin-top: 25px;

 }
 
 .icon img{
    height: 26px;
    width: 26px;
    margin-right: 7px;
 }
